
<div class="centre-tile">
    <h1 class="text-white p-4">Login Page</h1>
    <div class="p-1">
      <label class="text-white p-1">UserName: </label>
      <input [(ngModel)]="username" class="p-1" value="run" type="text" /><br />
    </div>
    <div class="p-1">
      <label class="text-white p-1"> Password:&nbsp; </label>
      <input [(ngModel)]="password" class="p-1" type="password" /><br />
    </div>
  
    <button class="btn btn-dark p-2 m-2" (click)="setCred()"><a class="text-white" href="page1">View Credentials</a></button>
  </div>

