/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body
{
    background-color:#6c757d!important;
}
.centre-tile
{
    margin: auto;
    text-align: center;
}
a:link
{
    color: white;
    text-decoration: none;
}